# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key and Google Maps API key used in production secret!
SECRET_KEY=secret1
GOOGLE_MAPS_API_KEY=secret2

DATABASE_URL=psql://user:password@host:port/database