{% extends 'core/base.html' %}

{% block title%}Password Reset Confirmation | {% endblock %}

{% block content %}
    <section class="bg-gray-100 text-gray-600 body-font">
        <div class="max-w-xl mx-auto">
            <h1 class="text-2xl pb-2">Password reset complete!</h1>
            <p>You have successfully reset your password.</p>
            <div class="mt-3 pt-2 border-t border-gray-200">
                <a class=" hover:text-gray-400" href="{% url 'login' %}"><u>Click here to log in.</u></a>
            </div>
        </div>
    </section>
{% endblock content %}